<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <%- include ('../common/styles') %>
    </head>

    <body>
        <div class="doc-header">
            <nav aria-label="breadcrumb" class="container">
                <ol class="breadcrumb doc-header">
                    <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="auraenabled.html">Aura Enabled</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= content.title %></li>
                </ol>
            </nav>
            <div class="jumbotron jumbotron-fluid doc-header">
                <div class="container">
                    <h1 class="display-4"><%= content.title %></h1>
                    <p class="lead"><%= content.description %></p>
                </div>
            </div>            
        </div>
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th>Component Name</th>
                    <th>Type</th>
                    <th>Controller</th>
                    <th>Profiles</th>
                    <th>Permission Sets</th>
                </tr>
                <% content.auraenabled.forEach(function(component){ %>
                    <tr class="<%= component.background %>">
                        <td><%= component.name %></td>
                        <td><%= component.componentType %></td>
                        <td><%= component.controller %></td>
                        <td>
                            <% component.profiles.forEach(function(profile){ %>
                                <%= profile %>
                            <% }); %>
                        </td>
                        <td>
                            <% component.permsets.forEach(function(permset){ %>
                                <%= permset %>
                            <% }); %>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
        <%- include ('../common/footer') %>
    </body>

</html>