<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <%- include ('../common/styles', {header: content.header}) %>
</head>

<body>
    <div class="doc-header">
        <nav aria-label="breadcrumb" class="container doc-header">
            <ol class="breadcrumb doc-header">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="objects.html">Objects</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= content.title %></li>
            </ol>
        </nav>    
        <div class="jumbotron jumbotron-fluid doc-header">
            <div class="container">
                <h1 class="display-4"><%= content.title %></h1>
                <p class="lead"><%= content.description %></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h2>Menu</h2>
        <nav class="nav flex-column">
            <% content.menuItems.forEach(function(menuItem){ %>
                <a class="nav-link pb-0" href="#<%= menuItem.href %>"><%= menuItem.title %></a>
            <% }); %>
        </nav>        
        <div class="mt-5"></div>
        <% content.objects.forEach(function(object){ %>
        <div class="card mb-5">
            <h3 class="card-header bg-info text-white"><a name="<%= object.name %>"><%= object.label %></a></h5>
            <div class="card-body">        
                <h6 class="card-subtitle mb-2 text-muted"><strong>API Name : </strong><%= object.name %></h6>
                <p><%= object.sfObject.description %></p>
                <% if (object.badges.length>0) { %>
                    <% object.badges.forEach(function(badge) { %>
                        <span class="badge badge-pill badge-secondary"><%= badge %></span>
                    <% }); %>
                <% } %>
                <% if (typeof object.recordTypes == 'object' && object.recordTypes && object.recordTypes.length>0) { %>
                <h5 class="pt-3">Record Types</h5>

                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Label</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                        </tr>
                    </thead>

                    <% object.recordTypes.forEach(function(recordType) { %>
                    <tr>
                        <td><%= recordType.label %></td>
                        <td><%= recordType.fullName %></td>
                        <td><%- recordType.description %></td>
                        <td><%= recordType.active %></td>
                    </tr>
                    <% }); %>
                </table>
                <% }; %>
                <h5 class="pt-3">Fields</h5>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <% if (content.columns.includes('Name')) { %>
                                <th>Name</th>
                            <% } %>
                            <% if (content.columns.includes('Label')) { %>
                                <th>Label</th>
                            <% } %>
                            <% if (content.columns.includes('Type')) { %>
                                <th>Type</th>
                            <% } %>
                            <% if (content.columns.includes('Description')) { %>
                                <th>Description</th>
                            <% } %>
                            <% if (content.columns.includes('Security')) { %>
                                <th>Security</th>
                            <% } %>
                            <% if (content.columns.includes('Compliance')) { %>
                                <th>Compliance</th>
                            <% } %>
                            <% if (content.columns.includes('In Use')) { %>
                                <th>In Use</th>
                            <% } %>
                            <% if (content.columns.includes('Encrypted')) { %>
                                <th>Encrypted</th>
                            <% } %>
                            <% if (content.columns.includes('Info')) { %>
                                <th>Info</th>
                            <% } %>
                            <% if (content.columns.includes('Page Layouts')) { %>
                                <th>Page Layouts</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                    <% object.fields.forEach(function(field){ %>
                        <tr style="background-color: <%= field.background %>">
                            <% if (content.columns.includes('Name')) { %>
                                <td><%= field.fullName %></td>
                            <% } %>
                            <% if (content.columns.includes('Label')) { %>
                                <td><%= field.label %></td>
                            <% } %>
                            <% if (content.columns.includes('Type')) { %>
                                <td><%= field.fullType %></td>
                            <% } %>
                            <% if (content.columns.includes('Description')) { %>
                                <td><%- field.description %></td>
                            <% } %>
                            <% if (content.columns.includes('Security')) { %>
                                <td><%- field.securityClassification %></td>
                            <% } %>
                            <% if (content.columns.includes('Compliance')) { %>
                                <td><%- field.complianceGroup %></td>
                            <% } %>
                            <% if (content.columns.includes('In Use')) { %>
                                <td><%- field.businessStatus %></td>
                            <% } %>
                            <% if (content.columns.includes('Encrypted')) { %>
                                <td><%- field.encrypted %></td>
                            <% } %>
                            <% if (content.columns.includes('Info')) { %>
                                <td><%- field.additionalInfo %></td>
                            <% } %>
                            <% if (content.columns.includes('Page Layouts')) { %>
                                <td><% if (typeof field.pageLayoutInfo == 'object' && field.pageLayoutInfo && field.pageLayoutInfo.length>0) { %>
                                <% field.pageLayoutInfo.forEach(function(pageLayoutEntry, idx, array) { %>
                                  <%- pageLayoutEntry.layoutName %> (<b><%- pageLayoutEntry.behavior %></b>)<br/>
                                  <% if (idx!=array.length-1) { %>
                                  <hr/>    
                                  <% } %>
                                <% }); %>
                                <% } %>
                                </td>
                            <% } %>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>

                <% if (typeof object.validationRules == 'object' && object.validationRules && object.validationRules.length>0) { %>
                <h5 class="pt-3">Validation Rules</h5>

                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th>Criteria</th>
                        </tr>
                    </thead>

                    <% object.validationRules.forEach(function(validationRule) { %>
                    <tr>
                        <td><%= validationRule.fullName %></td>
                        <td><%- validationRule.description %></td>
                        <td><%= validationRule.active %></td>
                        <td><%- validationRule.errorConditionFormula %></td>
                    </tr>
                    <% }); %>
                </table>
                <% }; %>
            </div>
        </div>
    <% }); %>
    </div>
    <%- include ('../common/footer') %>
</body>

</html>